<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css" />
  </head>
  <body>
    <!-- <h1 class="text-red-800 text-center text-[50px] font-bold mt-10">
      Lorem ipsum dolor sit amet.
    </h1> -->
    <div class="flex gap-4 justify-center">
      <div class="bg-red-500 mt-4 p-5 rounded-4xl">box1</div>
      <div class="bg-red-500 mt-4 p-5 rounded-4xl">box2</div>
      <div class="bg-red-500 mt-4 p-5 rounded-4xl">box3</div>
      <div class="bg-red-500 mt-4 p-5 rounded-4xl">box4</div>
      <div class="bg-red-500 mt-4 p-5 rounded-4xl">box5</div>
    </div>
  </body>
</html>
