<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css" />
    <style></style>
  </head>
  <body>
    <nav class="flex justify-around bg-gray-950 text-white p-5">
      <div class="logo">LOGO</div>
      <ul class="flex gap-3">
        <li>Home</li>
        <li>About</li>
        <li>Project</li>
        <li>Contact</li>
        <li>Services</li>
      </ul>
    </nav>

    <div class="flex gap-3.5 m-2.5">
      <div class="">
        <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rem
          natus temporibus quos, quis expedita commodi ut nam quo quidem, vitae,
          eum exercitationem beatae. Eligendi officiis incidunt odit in quaerat?
        </p>
        <button
          class="bg-gray-900 py-2 px-4 text-white rounded-2xl hover:bg-gray-600"
        >
          Click me
        </button>
      </div>
      <div>
        <img
          class="rounded-3xl"
          src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?auto=format&fit=crop&h=800"
          alt=""
          sizes=""
          srcset=""
        />
      </div>
    </div>
  </body>
</html>
