<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style type="text/tailwindcss">
      @custom-variant dark (&:where(.dark ,.dark *));
    </style>
  </head>
  <body>
    <nav
      class="flex justify-around py-4 bg-amber-600 dark:text-white dark:bg-black"
    >
      <div class="logo"><span>G</span>D</div>
      <div class="flex gap-4">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Project</a>
        <a href="#">Services</a>
        <button
          onclick="toggleDarkMode()"
          class="text-white bg-black dark:bg-white dark:text-black py-2 px-4 rounded-3xl"
        >
          dark Mode
        </button>
      </div>
    </nav>
    <div
      class="h-100 dark:bg-gray-900 dark:text-white flex justify-center items-center"
    >
      <h1 class="text-4xl font-bold">Lorem ipsum dolor sit amet.</h1>
    </div>

    <script>
      function toggleDarkMode() {
        document.documentElement.classList.toggle("dark");
      }
    </script>
  </body>
</html>
