<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/output.css" />
  </head>
  <body>
    <nav class="flex justify-around bg-gray-900 md:bg-gray-700 text-white py-4">
      <div class="logo">logo</div>
      <ul class="hidden gap-3 sm:flex">
        <li>Home</li>
        <li>Home</li>
        <li>Home</li>
        <li>Home</li>
        <li>Home</li>
      </ul>
      <div class="bar text-4xl">⏸️</div>
    </nav>
    <!-- <p class="bg-amber-400 hover:bg-amber-800 hover:text-white">
      Lorem ipsum dolor sit amet.
    </p> -->
  </body>
</html>
